.App {
  text-align: center;
}
.App-intro {
  font-size: large;
}
.margin-bottom {
  margin-bottom: 32px;
}
.margin-bottom-one {
  margin-bottom: 8px;
}
.margin-bottom-two {
  margin-bottom: 16px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
